<%= render 'layouts/generic_header' %>
<p id="notice"> <%= notice %></p>

<div class="container">
 <div class="row">
    <div class="col-sm-6">
        <h1>Edit Professional</h1>

<%= render 'form' %>

<br>

<button type="button" class="btn btn-success"><%= link_to 'Show', @professional %></button>
<button type="button" class="btn btn-success"><%= link_to 'Back', professionals_path %></button>
<button type="button" class="btn btn-success"><%= link_to 'Delete Account', @professional, method: :delete, data: { confirm: 'Are you sure?' } %></button>

