<%= render 'layouts/generic_header' %>
<p id="notice"> <%= notice %></p>

<h1>Listing Professionals</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Job location</th>
      <th>Job title</th>
      <th>Phone number</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.name %></td>
        <td><%= professional.username %></td>
        <td><%= professional.email %></td>
        <td class="location"><%= professional.job_location %></td>
        <td><%= professional.job_title %></td>
        <td><%= professional.phone_number %></td>

        <td><%= link_to 'Show', professional %></td>


    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-success"><%= link_to 'Logout', pro_logout_path %></button>

<% if current_customer %>
<button type="button" class="btn btn-success"><%= link_to 'Back To Profile', customer_path(current_customer) %></button>
<% end %>


<h1>Google Maps</h1>

<form method="get" id="userName">
      <input id="textUserName" type="text" name="user" autofocus>
      <button type="submit" class="learnButton">Find by username</button>
      <div class="clear"></div>
</form>
<form method="get" id="chooseZip">
      <button type="submit" class="learnButton">Use current location</button>
      <br/>
      <h4>Or</h4>
      <div class="zipSearch">
        <input id="profession" type="text" name="profession" placeholder="enter profession" autofocus><br>
        <input id="textZip" type="text" name="zip" placeholder="enter your zip code" autofocus>
        <button type="submit" class="learnButton">Search</button>
      </div>
      <div class="clear"></div>
</form>
<div id="map-container">
  <div id="map-canvas"></div>
</div>

<%= render 'layouts/footer' %>


