<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professional.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professional.email %>
</p>

<p>
  <strong>Job location:</strong>
  <%= @professional.job_location %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @professional.job_title %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @professional.phone_number %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @professional.password_digest %>
</p>



<%= link_to 'Edit', edit_professional_path(@professional) %> |
<%= link_to 'Back', professionals_path %>

<h3>Average rating</h3>

<div class="pro_average_rating" data-score="<%= @professional.average_rating %>"></div>

<h1>Ratings</h1>

<div class="pro_user_rating"></div>

<script type="text/javascript">
  var theScore = <%= @rating.score %>;
  var ratingId = <%= @rating.id %>;
  var ratingType = "<%= @rating.class.to_s %>";
  proUserRating(theScore, ratingId);
</script>


