<%= render 'layouts/generic_header' %>
<p id="notice"> <%= notice %></p>

<div class="container">
 <div class="row">
    <div class="col-sm-10">

<table class="table table-bordered">
  <thead>
    <tr>
      <th><strong>Photo:</strong></th>
      <th><strong>Name:</strong></th>
      <th><strong>Email:</strong></th>
      <th><strong>Job location:</strong></th>
      <th><strong>Job title:</strong></th>
      <th><strong>Phone number:</strong></th>
  </tr>
</thead>
  <td id="pro_picture"><%= image_tag @professional.picture %></td>
  <td><%= @professional.name %></td>
  <td><%= @professional.email %></td>
  <td><%= @professional.job_location %></td>
  <td><%= @professional.job_title %></td>
  <td><%= @professional.phone_number %></td>
</table>

<% if is_this_pro?(@professional) %>
<button type="button" class="btn btn-success"><%= link_to('Edit', edit_professional_path(@professional)) %></button>
<% end %>
<button type="button" class="btn btn-success"><%= link_to 'Back', professionals_path %></button>
<button type="button" class="btn btn-success"><%= link_to 'Logout', pro_logout_path %></button>

<h3>Average rating</h3>

<div class="pro_average_rating" data-score="<%= @rating.score %>"></div>


<% if current_customer %>
  <% if @favorite %>
    <%= link_to "unfavorite", remove_from_favorites_path(@professional), method: :delete%>
  <% else %>
    <%= link_to "favorite", add_to_favorites_path(@professional), method: :post%>
  <% end %>
<% end %>





