
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professional.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professional.email %>
</p>

<p>
  <strong>Job location:</strong>
  <%= @professional.job_location %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @professional.job_title %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @professional.phone_number %>
</p>

<% if is_this_pro?(@professional) %>
<%= link_to('Edit', edit_professional_path(@professional)) %>
<% end %>
<%= link_to 'Back', professionals_path %>
<%= link_to 'Logout', pro_logout_path %>

<h3>Average rating</h3>

<div class="pro_average_rating" data-score="<%= @professional.average_rating %>"></div>

<% if current_customer %>
  <% if @favorite %>
    <%= link_to "unfavorite", remove_from_favorites_path(@professional), method: :delete%>
  <% else %>
    <%= link_to "favorite", add_to_favorites_path(@professional), method: :post%>
  <% end %>
<% end %>





