 <p id="notice"> <%= notice %></p>
<div class="message" style="width:400px; height: 50px; background: green; color: white; display: none;"></div>
<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>How much would like you to contribute?</p>
<div>
  <input value="" class="amount">
  <button type="button" class="btn btn-primary tip-btn" value="" id="charge">Pay Tip</button>
</div>
<!-- <button type="button" class="btn btn-primary">Primary</button> -->
<%= form_tag charges_path do %>


<script>
var total;

payAction = function() {
  var handler = StripeCheckout.configure({
    key: "<%= Rails.application.secrets[:stripe_publishable_key] %>",
    token: function(token) {

      var postData = {
        amount: total,
        stripeToken: token.id,
      }

      $.ajax({
                type: 'POST',
                url: '/charges',
                data: postData,
                success: function (reservation) {
                  formatted_total = '$' + (total/100) + '.' + (total%100);

                  $('.message').empty();
                  $('.message').append('<h2>Thank you, you paid $<strong>' + formatted_total + '</strong>!</h2>');
                  $('.message').show();
                },
                error: function (request, error) {
                  $('.message').empty();
                  $('.message').append('<h2>We apologize but your payment did not go through.</h2>');
                  $('.message').show();
                }
            });
    }

  });


  $('.tip-btn').on('click', function(e) {
    e.preventDefault();
    total = parseFloat($(this).siblings('.amount').val()) * 100;

    handler.open({
              name: 'Tip',
              description: 'Input Your Payment Details',
              amount: total
          });
  });



}

$(document).ready(payAction);
</script>
<% end %>


<% if is_this_me?(@customer) %>
<%= link_to('Edit', edit_customer_path(@customer)) %>
<% end %>|


<%= link_to 'Locate Professionals', professionals_path %> |
<%= link_to 'Logout', logout_path %>



<h3>Average rating</h3>

<div class="average_rating" data-score="<%= @rating.score %>"></div>

<h1>Ratings</h1>

<div class="user_rating"></div>

<script type="text/javascript">
  var score = <%= @rating.score %>
	// var score = <%#= @customer.average_rating %>
</script>

<script type="text/javascript">
	var theScore = <%= @rating.score %>;
	var ratingId = <%= @rating.id %>;
  var ratingType = "<%= @rating.class.to_s %>";
	userRating(ratingType, ratingId);
</script>



<h2>My Favorites</h2>
      <% @favorites.each do |favorite| %>
        <div class="hidden" style="display: none;"><%= pro = Professional.find(favorite.professional_id) %></div>
        <%= pro.name %>
        <%= pro.job_title %>
        <div>
        <input value="" class="amount">
        <button type="button" class="btn btn-primary tip-btn" value="" id="charge2">Pay Tip2</button>
        </div>
        <br/>


      <% end %>










