<%= render 'layouts/generic_header' %>
<p id="notice"> <%= notice %></p>


<div class="container">
  <div class="fb-profile">
    <img align="left" class="fb-image-lg" src="http://i.imgur.com/xdq9jns.jpg" alt="Profile image example"/>
    <img align="left" class="fb-image-profile thumbnail" src="<%= @customer.picture %>" alt="Profile image"/>
    <div class="fb-profile-text">
      <h1><%= @customer.name %></h1>
      <p><strong>Email:</strong><br><%= @customer.email %></p>
    </div>
  </div>
</div> <!-- /container -->


<br>
<br>


<!-- <div class="success-popup"></div> -->
<!--
<div class="message" style="width:400px; height: 100px; background: green; color: white; display: none;"></div> -->

<div class="message" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-body">
          <div>
            <h3>Ratings</h3>
            <div class="pro_user_rating">
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-primary">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <button type="button" class="btn btn-primary">Primary</button> -->
<%= form_tag charges_path do %>


<script>
var total;

payAction = function() {
  var handler = StripeCheckout.configure({
    key: "<%= Rails.application.secrets[:stripe_publishable_key] %>",
    token: function(token) {
      total = $('.amount').val();

      var postData = {
        amount: total,
        stripeToken: token.id,
      }

      $.ajax({
                type: 'POST',
                url: '/charges',
                data: postData,
                success: function (reservation) {
                    var theRatingId = $('#charge2').data('score');

                    var ratingId = theRatingId ;
                    var ratingType = "ProRating";
                    proUserRating(ratingType, ratingId);
                  // var formatted_total = total.toFixed(2).toLocaleString();
                  // formatted_total = '$' + (total/100) + '.' + (total%100);
                  $('.message').show();
                  $('.modal-body').prepend('<h2>Thank you, you paid <strong>$' + total + '</strong>!</h2>');
                  $('.message').on('click', 'button', function(){
                    $('.message').hide();
                  });
                },
                error: function (request, error) {
                  $('.message').empty();
                  $('.message').append('<h2>We apologize but your payment did not go through.</h2>');
                  $('.message').show();
                }
            });
    }

  });


  $('.tip-btn').on('click', function(e) {
    e.preventDefault();
    total = parseFloat($(this).siblings('.amount').val()) * 100;

    handler.open({
              name: 'Tip',
              description: 'Input Your Payment Details',
              amount: total
          });
  });



}

$(document).ready(payAction);
</script>
<% end %>






<div class="container">
  <div class="col-md-12">
    <div class="col-md-3" id="verticalLine">
      <div class="col-md-12">
        <% if is_this_me?(@customer) %>
        <button type="button" class="btn btn-success"><%= link_to('EDIT', edit_customer_path(@customer)) %></button>
        <% end %>
      </div>
      <div class="col-md-12" id="spacer">
        <button type="button" class="btn btn-success"><%= link_to 'LOCATE PROFESSIONALS', professionals_path %></button>
      </div>
      <div class="col-md-12" id="spacer">
        <button type="button" class="btn btn-success"><%= link_to 'LOGOUT', logout_path %></button>
      </div>
    </div>

    <div class="col-md-9">
      <div class="fav">
        <strong>My Favorites</strong>
      </div>
      <% @favorites.each do |favorite| %>
      <div class="hidden" style="display: none;">
        <%= pro = Professional.find(favorite.professional_id) %>
      </div>
      <div class="col-md-12" id="the-spacer">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag pro.picture, :class => 'proImage' %>
          </div>
          <div class="col-md-3">
            <%= pro.name %>
          </div>
          <div class="col-md-2">
            <%= pro.job_title %>
          </div>
          <div class="col-md-2">
            <input value="" class="amount">
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-primary tip-btn" value="" id="charge2" data-score="<%=  ProRating.find_by(professional_id: pro.id).id %>">Tip Me</button>
          </div>
          <div class="col-md-2">
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




