
<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @customer.password_digest %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

<h3>Average rating</h3>

<div class="average_rating" data-score="<%= @customer.average_rating %>"></div>

<h1>Ratings</h1>

<div class="user_rating"></div>

<script type="text/javascript">
	var score = <%= @customer.average_rating %>
</script>

<script type="text/javascript">
	var theScore = <%= @rating.score %>;
	var ratingId = <%= @rating.id %>;
  var ratingType = "<%= @rating.class.to_s %>";
	userRating(theScore, ratingId);
</script>
