<p id="notice"> <%= notice %></p>
<div class="message" style="width:400px; height: 50px; background: green; color: white; display: none;"></div>
<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>How much would like you to contribute?</p>
<input value="" id="amount">
<button type="button" class="btn btn-primary" value="" id="charge">Pay Tip</button>
<!-- <button type="button" class="btn btn-primary">Primary</button> -->

<%= form_tag charges_path do %>


<% end %>


<% if is_this_me?(@customer) %>
<%= link_to('Edit', edit_customer_path(@customer)) %>
<% end %>|

<%= link_to 'Back', customers_path %> |
<%= link_to 'Logout', logout_path %>

<h3>Average rating</h3>

<div class="average_rating" data-score="<%= @customer.average_rating %>"></div>

<h1>Ratings</h1>

<div class="user_rating"></div>

<script type="text/javascript">
	var score = <%= @customer.average_rating %>
</script>

<script type="text/javascript">
	var theScore = <%= @rating.score %>;
	var ratingId = <%= @rating.id %>;
  var ratingType = "<%= @rating.class.to_s %>";
	userRating(theScore, ratingId);
</script>
