
<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @customer.password_digest %>
</p>

<p>How much would like you to contribute?</p>
<input value="" id="amount">
<button type="button" class="btn btn-primary" value="" id="charge">Pay Tip</button>
<!-- <button type="button" class="btn btn-primary">Primary</button> -->

<%= form_tag charges_path do %>


<script>
payAction = function() {
  var handler = StripeCheckout.configure({
    key: "<%= Rails.application.secrets[:stripe_publishable_key] %>",
    token: function(token) {
      var postData = {
        amount: parseInt($('#amount').val()),
        stripeToken: token.id,
      }

      $.ajax({
                type: 'POST',
                url: '/charges',
                data: postData,
                success: function (reservation) {
                    console.log('ok');

                },
                error: function (request, error) {
                    console.log(arguments);
                    alert("failure");
                }
            });
    }

  });


  $('#charge').on('click', function(e) {
    e.preventDefault();
    var total = parseInt($('#amount').val());
    handler.open({
              name: 'Tip',
              description: 'Input Your Payment Details',
              amount: total
          });
  });
}

$(document).ready(payAction);
</script>


<% end %>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

<h3>Average rating</h3>

<div class="average_rating" data-score="<%= @customer.average_rating %>"></div>

<h1>Ratings</h1>

<div class="user_rating"></div>

<script type="text/javascript">
	var score = <%= @customer.average_rating %>
</script>

<script type="text/javascript">
	var theScore = <%= @rating.score %>;
	var ratingId = <%= @rating.id %>;
  var ratingType = "<%= @rating.class.to_s %>";
	userRating(theScore, ratingId);
</script>
